<section class="h-100 gradient-form bg-light">
  <div class="container-lg py-3" style="height: 100vh !important">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-1">
                <ng-container *ngIf="!isConfirm">
                  <div class="text-left">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo"> -->
                    <h4 class="mt-1 mb-4 pb-1">Create an Account</h4>
                  </div>

                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!-- <p>Please login to your account</p> -->
                    <!-- <div class="form-outline mb-3">
                                        <label class="form-label" for="form2Example11">Fullname</label>
                                        <input type="text" id="form2Example11" class="form-control" placeholder="John Shrestha" />
                                    </div> -->

                    <div class="form-outline mb-3">
                      <label class="form-label" for="form22Example2"
                        >Email Address</label
                      >
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        placeholder="john@gmail.com"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid' : !registerForm.get('email')?.valid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)}"
                      />
                      <span
                        class="text-danger"
                        *ngIf="!registerForm.get('email')?.valid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)"
                      >
                        Please Enter a valid email
                      </span>
                    </div>

                    <!-- <div class="form-outline mb-3">
                                        <label class="form-label" for="form2Example33">Phone Number</label>
                                        <input type="number" id="form2Example33" class="form-control" placeholder="+987654123x" />
                                    </div> -->

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example44"
                        >Create Password</label
                      >
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid' : !registerForm.get('password')?.valid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) }"
                      />
                      <div *ngIf="registerForm.controls['password'].dirty">
                        <label [ngClass]="errorCatcher('hasSmallCase','password')  ? 'text-danger' : 'text-success'">
                          <i-feather class="icon-sm" [name]="errorCatcher('hasSmallCase','password') ? 'X' :'check'"></i-feather>
                          <small
                            class="font-weight-normal alert-text-inner">Password
                            must contain a lower case letter</small>
                        </label>
                        <label [ngClass]="errorCatcher('hasCapitalCase','password')  ? 'text-danger' : 'text-success'">
                          <i-feather class="icon-sm" [name]="errorCatcher('hasCapitalCase','password') ? 'X' :'check'"></i-feather>
                          <small
                            class="font-weight-normal alert-text-inner">
                            Password must contain an upper case letter</small>
                        </label>
                        <label [ngClass]="errorCatcher('hasNumber','password')  ? 'text-danger' : 'text-success'">
                          <i-feather class="icon-sm" [name]="errorCatcher('hasNumber','password') ? 'X' :'check'"></i-feather>
                          <small
                            class="font-weight-normal alert-text-inner">
                            Password must contain a number</small>
                        </label>
                        <label [ngClass]="errorCatcher('minlength','password')  ? 'text-danger' : 'text-success'">
                          <i-feather class="icon-sm" [name]="errorCatcher('minlength','password') ? 'X' :'check'"></i-feather>
                          <small
                            class="font-weight-normal alert-text-inner">
                            Password must contain at least 8 characters</small>
                        </label>
                        <label [ngClass]="errorCatcher('hasSpecialCharacters','password')  ? 'text-danger' : 'text-success'">
                          <i-feather class="icon-sm" [name]="errorCatcher('hasSpecialCharacters','password') ? 'X' :'check'"></i-feather>
                          <small
                            class="font-weight-normal alert-text-inner">
                            Password must contain a special characters</small>
                        </label>
                      </div>
                    </div>

                    <div class="text-center pt-1 mb-4 pb-1">
                      <!-- <button class="btn btn-primary btn-lg gradient-custom-2 mb-3" type="button">Sign Up</button> -->
                      <a href="/mfa"
                        ><button
                          type="submit"
                          class="btn btn-primary btn-lg w-100"
                        >
                          Sign Up
                        </button></a
                      >
                      <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-center pb-4"
                    >
                      <p class="mb-0 me-2 color-gray">Already a User?</p>
                      <a href="/login" class="color-primary">Login</a>
                      <!-- <button type="button" class="btn btn-outline-danger">Login</button> -->
                    </div>
                  </form>
                </ng-container>
                <ng-container *ngIf="isConfirm">
                  <div class="text-left">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo"> -->
                    <h4 class="mt-1">Two Step Verification</h4>
                    <p class="text-muted mb-4">
                      Enter the verification code we sent to
                    </p>
                  </div>

                  <form [formGroup]="registerForm" (ngSubmit)="confirmSignUp()">
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example44"
                        >Type your 6 digit security code</label
                      >
                      <input
                        type="text"
                        id="code"
                        placeholder="987651"
                        class="form-control"
                        formControlName="code"
                      />
                    </div>

                    <div class="text-center pt-1 mb-4 pb-1">
                      <!-- <button class="btn btn-primary btn-lg gradient-custom-2 mb-3" type="button">Sign Up</button> -->
                      <a href="/login">
                        <button
                          type="submit"
                          class="btn btn-primary btn-lg w-100"
                        >
                          Submit
                        </button></a
                      >
                      <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center pb-4"
                    >
                      <!-- <p class="mb-0 me-2 color-gray">Didn’t get the code ?</p> -->
                      <!-- <a href="/signup" class="color-primary">Resend</a> -->
                      <!-- <button type="button" class="btn btn-outline-danger">Login</button> -->
                    </div>
                  </form>
                </ng-container>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-1 mx-md-4">
                <h1 class="mb-5 text-decoration-underline color-white">
                  Email Pipeline
                </h1>
                <!-- <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                </p> -->
                <img
                  src="./assets/img/email-pipeline.png"
                  class="w-100 mt-5"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
