<div class="modal-header">
  <div *ngIf="toggleModal1 == true">Send Email</div>
  <div *ngIf="toggleModal1 == false">Upload File</div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <ng-template [ngIf]="toggleModal1">
    <form [formGroup]="sendEmailForm" (ngSubmit)="onEmailSend()">
      <!-- <label class="form-label" for="form22Example2">To</label>

      <input
        type="text"
        formControlName="to"
        id="to"
        class="form-control"
        placeholder=""
      /> -->
      <tag-input
        [ngModel]="to"
        [theme]="'bootstrap'"
        [displayBy]="'label'"
        [identifyBy]="'label'"
        name="to"
        placeholder="+ To"
        formControlName="to"
        [separatorKeyCodes]="[32, 188]"
        secondaryPlaceholder="To"
        [errorMessages]="errorMessages"
        [validators]="validators"
      >
      </tag-input>
      <span
        class="text-danger"
        *ngIf="
          sendEmailForm.get('email')?.invalid &&
          sendEmailForm.get('email')?.touched
        "
        >Please Enter a valid email address</span
      >
      <label class="form-label" for="form22Example2">Subject</label>
      <input
        type="text"
        formControlName="subject"
        id="subject"
        class="form-control"
        placeholder=""
      />
      <label class="form-label" for="form22Example2">Message</label>

      <textarea
        class="form-control"
        formControlName="message"
        id="message"
        placeholder=""
      ></textarea>
      <button type="submit" class="btn btn-primary">send email</button>
    </form>
  </ng-template>
  <ng-template [ngIf]="!toggleModal2">
    <div class="container">
      <h3>Upload File (.xls or .xlsx)</h3>
      <br />
      <input
        type="file"
        style="display: inline-block"
        (change)="incomingfile($event)"
        placeholder="Upload file"
        accept=".xls, .xlsx"
      />
      <br /><br />
      <button type="button" class="btn btn-info" (click)="upload()">
        Upload
      </button>
      <br /><br />
      <div class="jumbotron json_container">
        <h5>Output:</h5>
        <br />
        {{ JSONObject.string }}
      </div>
    </div>
  </ng-template>
</div>

<div class="modal-footer">
  <Button
    class="btn btn-outline-primar"
    (click)="handleSendEmail()"
    *ngIf="toggleModal1 == false"
  >
    SendEmail
  </Button>
  <Button
    class="btn btn-outline-primar"
    (click)="handleUploadFile()"
    *ngIf="toggleModal1 == true"
  >
    Upload File
  </Button>
</div>
