<!-- begin::nav -->
<nav class="navbar navbar-expand-lg border-bottom bg-white pt-3 pb-3">
    <div class="container">
        <a class="navbar-brand fw-bolder color-primary active" href="#!">LOGO</a>
        <!-- <button class="btn btn-lg btn-outline-primary" (click)="openSendMailModal()">
      send email
    </button> -->

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-outline-primar btn-md mx-2" (click)="openSendMailModal()">
                        Send Email
                      </button>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Dashboard</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" (click)="signOut()"><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-box-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
              />
              <path
                fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
              /></svg
          ></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end::nav -->

<!-- begin::Table -->
<div class="container mt-5 pb-5" style="height: 650px">
    <div id="dtBasicExample_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row pb-4">
            <div class="col-sm-12 col-md-6">
                <h4>Email Pipeline Dashboard</h4>
            </div>
            <div class="col-sm-12 col-md-6">
                <!-- new dropdown -->
                <!-- <div class="dropdown dataTables_filter" id="dtBasicExample_filter">
          <button
            class="btn btn-outline-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select Table
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
                <!-- new dropdown -->

                <div id="dtBasicExample_filter" class="dataTables_filter">
                    <select name="table" #data (change)="selectChangeHandler(data.value)" class="select-table">
            <option selected value="delivery">Select Table</option>
            <option value="delivery">SMTP Delivery Notifications</option>
            <option value="complaint">SMTP Complaint Notifications</option>
            <option value="bounce">SMTP Bounce Notifications</option>
            <option value="click">SMTP Click Notifications</option>
            <option value="open">SMTP Open Notifications</option>
          </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 pb-3 date-picker">
                <div id="example_filter" class="dataTables_filter d-flex">
                    <label>Date Picker:
            <input
              placeholder="Select Date Range"
              onfocus="this.value=''"
              class="input-btn form-control rounded-0 date-pick"
              bsDaterangepicker
              name="daterange"
              [(ngModel)]="searchDate"
              [bsConfig]="{
                rangeInputFormat: 'DD/MM/YYYY',
                dateInputFormat: 'DD/MM/YYYY',
                showWeekNumbers: false,
                isAnimated: true
              }"
              (bsValueChange)="filterDateRange($event)"
            />
          </label>
                    <div class="input-group-btn reset">
                        <button type="submit" class="btn btn-primary rounded-0 apply reset" style="height: -webkit-fill-available" aria-expanded="false" (click)="resetData()">
              Reset
            </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 pb-3">
                <!-- <div class="dataTables_length" style="width: 50% !important;" id="example_length"><input type="search" placeholder="Search.." aria-controls="example" class="form-control input-sm"></div> -->
                <div class="search-bar">
                    <form class="site-nav-inline-search js-site-nav-global-search float-end" action="/search" data-site-nav-element="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>

                        <input class="js-site-nav-inline-search-input site-nav-inline-search-input" type="search" placeholder="Search" autocomplete="off" value="" name="search" [(ngModel)]="searchText" (change)="search()" />
                    </form>
                </div>
            </div>
            <!-- <div class="col-sm-6 pb-3 date-picker">
                <div id="example_filter" class="dataTables_filter d-flex float-end">
                    <label>Date Picker:
            <input type="text"
                   placeholder="10/09/2022 - 11/13/2022"
                   class="form-control"
                   bsDaterangepicker></label>
                    <div class="input-group-btn"><button type="button" class="btn btn-primary" aria-expanded="false">Apply</button></div>

                </div>
            </div> -->
        </div>
        <!-- <div style="overflow-x: auto"> -->
        <div class="row">
            <!-- delivery table -->
            <div class="col-sm-12 table-responsive text-nowrap">
                <ng-container *ngIf="data.value == 'delivery'">
                    <h4 class="fs-5 color-primary pb-2 text-center">
                        SMTP Delivery Notifications
                    </h4>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%">
                        <thead class="table-hd">
                            <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name
                : activate to sort column descending">
                                    SMTP Response
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Position
                : activate to sort column ascending">
                                    Sns Publish Time
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Office
                : activate to sort column ascending">
                                    SES Sender Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Start date
                : activate to sort column ascending">
                                    SES Destination Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                              : activate to sort column ascending">
                                    SES Message Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                            : activate to sort column ascending">
                                    SES Message Id
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                          : activate to sort column ascending">
                                    Subject
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="
                  let delivery of deliveryData
                    | filter: searchText
                    | paginate: { itemsPerPage: 9, currentPage: p }
                ">
                                <td class="sorting_1">{{ delivery.SMTPresponse }}</td>
                                <td>{{ delivery.SnsPublishTime }}</td>
                                <td>{{ delivery.SESSenderAddress }}</td>
                                <td>{{ delivery.SESDestinationAddress }}</td>
                                <td>{{ delivery.SESMessageType }}</td>
                                <td>{{ delivery.SESMessageId }}</td>
                                <td>{{ delivery.Subject }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <!-- complaint table -->
            <div class="col-sm-12 table-responsive text-nowrap">
                <ng-container *ngIf="data.value == 'complaint'">
                    <h4 class="fs-5 color-primary pb-2 text-center">
                        SMTP Complaint Notifications
                    </h4>

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info1" style="width: 100%">
                        <thead>
                            <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name
                : activate to sort column descending">
                                    SES Destination Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Position
                : activate to sort column ascending">
                                    SES Message Id
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Office
                : activate to sort column ascending">
                                    SES Message Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Age
                : activate to sort column ascending">
                                    SES Sender Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Start date
                : activate to sort column ascending">
                                    Sns Publish Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                  let complaint of complaintData
                    | filter: searchText
                    | paginate: { itemsPerPage: 9, currentPage: p }
                ">
                                <td class="sorting_1">
                                    {{ complaint.SESDestinationAddress }}
                                </td>
                                <td>{{ complaint.SESMessageId }}</td>
                                <td>{{ complaint.SESMessageType }}</td>
                                <td>{{ complaint.SESSenderAddress }}</td>
                                <td>{{ complaint.SnsPublishTime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <!-- bounce table -->
            <div class="col-sm-12 table-responsive text-nowrap">
                <ng-container *ngIf="data.value == 'bounce'">
                    <h4 class="fs-5 color-primary pb-2 text-center">
                        SMTP Bounce Notifications
                    </h4>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%">
                        <thead>
                            <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name
                : activate to sort column descending" style="width: 64.2px">
                                    SES Destination Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Position
                : activate to sort column ascending" style="width: 159.2px">
                                    SES Message Id
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Office
                : activate to sort column ascending" style="width: 67.2px">
                                    SES Message Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Age
                : activate to sort column ascending" style="width: 63.2px">
                                    SES Sender Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Start date
                : activate to sort column ascending" style="width: 66.2px">
                                    Sns Publish Time
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                : activate to sort column ascending" style="width: 92.2px">
                                    Which Bounce?
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                                : activate to sort column ascending" style="width: 64.2px">
                                    Bounce Sub Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Salary
                              : activate to sort column ascending" style="width: 64.2px">
                                    Bounce Type
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="
                  let bounce of bounceData
                    | filter: searchText
                    | paginate: { itemsPerPage: 9, currentPage: p }
                ">
                                <td class="sorting_1">{{ bounce.SESDestinationAddress }}</td>
                                <td>{{ bounce.SESMessageId }}</td>
                                <td>{{ bounce.SESMessageType }}</td>
                                <td>{{ bounce.SESSenderAddress }}</td>
                                <td>{{ bounce.SnsPublishTime }}</td>
                                <td>{{ bounce["Which Bounce?"] }}</td>
                                <td>{{ bounce.bounceSubType }}</td>
                                <td>{{ bounce.bounceType }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <!-- click table -->
            <div class="col-sm-12 table-responsive text-nowrap">
                <ng-container *ngIf="data.value == 'click'">
                    <h4 class="fs-5 color-primary pb-2 text-center">
                        SMTP Click Notifications
                    </h4>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%">
                        <thead>
                            <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name
                : activate to sort column descending">
                                    Sns Publish Time
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Position
                : activate to sort column ascending">
                                    SES Sender Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Office
                : activate to sort column ascending">
                                    SES Message Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Age
                : activate to sort column ascending">
                                    SES Destination Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Start date
                : activate to sort column ascending">
                                    SES Message Id
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="
                  let click of clickData
                    | filter: searchText
                    | paginate: { itemsPerPage: 9, currentPage: p }
                ">
                                <td class="sorting_1">{{ click.SnsPublishTime }}</td>
                                <td>{{ click.SESSenderAddress }}</td>
                                <td>{{ click.SESMessageType }}</td>
                                <td>{{ click.SESDestinationAddress }}</td>
                                <td>{{ click.SESMessageId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <!-- open table -->
            <div class="col-sm-12 table-responsive text-nowrap">
                <ng-container *ngIf="data.value == 'open'">
                    <h4 class="fs-5 color-primary pb-2 text-center">
                        SMTP Open Notifications
                    </h4>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%">
                        <thead>
                            <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name
                : activate to sort column descending">
                                    Sns Publish Time
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Position
                : activate to sort column ascending">
                                    SES Sender Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Office
                : activate to sort column ascending">
                                    SES Message Type
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Age
                : activate to sort column ascending">
                                    SES Destination Address
                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1" colspan="1" aria-label="Start date
                : activate to sort column ascending">
                                    SES Message Id
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="
                  let open of openData
                    | filter: searchText
                    | paginate: { itemsPerPage: 9, currentPage: p }
                ">
                                <td class="sorting_1">{{ open.SnsPublishTime }}</td>
                                <td>{{ open.SESSenderAddress }}</td>
                                <td>{{ open.SESMessageType }}</td>
                                <td>{{ open.SESDestinationAddress }}</td>
                                <td>{{ open.SESMessageId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
        <!-- <div class="row mt-3">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info"
            id="dtBasicExample_info"
            role="status"
            aria-live="polite"
          >
            Showing {{ startPage }} to {{ endPage }} of 57 entries
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="dtBasicExample_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item Previous"
                id="dtBasicExample_previous"
              >
                <a
                  aria-controls="dtBasicExample"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  style="cursor: pointer"
                  >Previous</a
                >
              </li>
              <li class="paginate_button page-item active">
                <a
                  aria-controls="dtBasicExample"
                  data-dt-idx="7"
                  tabindex="0"
                  class="page-link"
                  >{{ pageNumber }}</a
                >
              </li>
               <li class="paginate_button page-item">
                <a
                  aria-controls="dtBasicExample"
                  data-dt-idx="2"
                  tabindex="0"
                  class="page-link"
                  >{{ pageNumber + 1 }}</a
                >
              </li> 
               <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="dtBasicExample"
                  data-dt-idx="3"
                  tabindex="0"
                  class="page-link"
                  >3</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="dtBasicExample"
                  data-dt-idx="4"
                  tabindex="0"
                  class="page-link"
                  >4</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="dtBasicExample"
                  data-dt-idx="5"
                  tabindex="0"
                  class="page-link"
                  >5</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="#"
                  aria-controls="dtBasicExample"
                  data-dt-idx="6"
                  tabindex="0"
                  class="page-link"
                  >6</a
                >
              </li>
              <li
                class="paginate_button page-item next"
                id="dtBasicExample_next"
              >
                <a
                  aria-controls="dtBasicExample"
                  data-dt-idx="7"
                  tabindex="0"
                  class="page-link"
                  style="cursor: pointer"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div> -->
        <!-- pagination -->
        <pagination-controls (pageChange)="p = $event" class="pagination mt-3"></pagination-controls>
    </div>
</div>
<!-- end::Table -->
<!-- footer::begin -->
<footer class="py-4 bg-dark mt-5">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright © All Right Reserve Email pipeline
        </p>
    </div>
</footer>
<!-- footer::end -->