/* You can add global styles to this file, and also import other style files */

@import "variable.scss";
@import "auth.scss";
.btn-primary {
    background-color: $primary !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: $primary-bg-light !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important
}

.input-btn:focus {
    outline: none;
    box-shadow: none;
}

.input-btn {
    box-shadow: none !important
}

.color-gray {
    color: $gray-400;
}

label.form-label.fw-lighter.fs-sm.pass {
    font-size: 12px;
    color: $gray-400;
}

.color-primary {
    color: $bg-primary;
}

.bg-footer {
    background-color: $bg-primary;
}

// .bg {
//     background-color: $primary;
// }
// h1 {
//     color: $primary;
// }
// login::beg
.gradient-custom-2 {
    /* fallback for old browsers */
    background: $primary;
    /* Chrome 10-25, Safari 5.1-6 */
    // background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(162.21deg, #3A9BD5 3.75%, #0164AE 103.44%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

// login::end
//begin::Dashboard
.myclass {
    display: none;
}

// form.site-nav-inline-search.js-site-nav-global-search.float-end.ng-untouched.ng-pristine.ng-valid {
//     position: relative !important;
// }
svg.bi.bi-search {
    position: absolute;
    top: 22px;
    transform: translate(11px, -50%);
    color: #9e9ea7;
}

.search-bar {
    position: relative !important;
}

select.select-table {
    border: 1px solid #2A85BB;
    border-radius: 4px;
    outline: none;
    color: #2A85BB;
    font-size: 18px;
    font-weight: 600;
}

// calendar::datepicker::begin
bs-daterangepicker-container.bottom.ng-tns-c75-0.ng-star-inserted {
    left: 90px !important;
}

input.form-control.rounded-0.date-pick.ng-valid.ng-touched.ng-dirty {
    outline: none !important;
}

// table
.table>thead {
    color: #2A85BB;
    background: #ddecf5;
}

.ngx-pagination .current {
    background: #2A85BB !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
    color: #6e6b6b;
}

// calendar color
.theme-green .bs-datepicker-head {
    background-color: #2e85bb;
}

// calender::datepicker::end
//end::Dashboard